<!--Cabeçalho padrão-->
<div class="header">
    <div class="pesquisaDiv">
        <form method="get" action="/busca/<%=permissao%>/saida/0">
            <i class="fa-solid fa-magnifying-glass fa-2x"></i>
            <!--Barra de pesquisa-->
            <input type="text" name="pesquisa" id="inputBusca" required class="pesquisa" placeholder="Digite sua busca...">
            <button id="botaoPesquisa" type="submit">Buscar</button>
        </form>
    </div>
    <div>
        <!-- adiciona arquivos ejs a página -->
        <a href="/busca/<%=permissao %>"><img src="/public/images/panpedia_logo_adobe_express.svg" alt="Logo Do Panpedia" id="logo"></a>
        <a href="/busca/<%=permissao %>"><img src="/public/images/LogoPanpediaDarkmode.svg" alt="Logo Do Panpedia" id="imagem3"></a>
    </div>
</div>